<div class="container" style="margin-left:5%;margin-right:5%">

  <div class="row info">
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-4">Name - {{name}}</span>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-3">Employee ID - {{emp_id}} </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row info">
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-4">Team - {{team}}</span>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-4">Title - {{ title}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row info">
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-4">Manager - {{manager}}</span>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-4">Esset Type - {{asset_type}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row info">
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-4">Manager Id - {{manager_id}}</span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div>

    <button class="btn btn-primary" style="margin-left: 35vw"  [routerLink]="['/header/employee']">Edit
      Details</button>

  </div> 