<div class="vendor">
  <div>
    <h5 style="text-align: center;">Welcome Admin</h5>
  </div>
  <div class="row info">
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-3">Name</span>
        </div>

      </div>
    </div>
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-3">Employee ID - </span>
        </div>
        <div class="field-info">{{this.adalSvc.userInfo.userName}}</div>
      </div>
    </div>
  </div>
  <div class="row info">
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-3">Team - </span>
        </div>
        <div class="field-info"></div>
      </div>
    </div>
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-3">Title - </span>
        </div>
        <div class="field-info"></div>
      </div>
    </div>
  </div>

  <div class="row info">
    <div class="col-md">
      <div class="field-group mt-5">
        <div class="field-header">
          <span class="h5 mr-3">Manager - </span>
        </div>
        <div class="field-info"></div>
      </div>
    </div>
    <!-- <div>
    
      <button class="btn btn-primary" [routerLink]="['/header/employee']">Edit Details</button>
    
    </div> -->