<h5 style="text-align: center;">TIME-SHEET</h5>
<hr>
<div style="overflow:scroll ;margin-left:2%;margin-right: 2%;">
  <table class="table table-striped table-bordered" id="myTable">
    <thead>
      <tr class="mani">
        <th>Timesheet ID</th>
        <th>Project Name</th>
        <th>Employee ID</th>
        <th>Bill Date</th>
        <th>Task Type</th>
        <th>Billed Hours</th>
        <th>Approved Employee ID</th>
        <th>Task Description</th>
        <th>Is Approved

        </th>
<th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of view_data" class="content" class="adit">
        <td class="timesheet_id">{{x.timesheetid}}</td>
        <td>{{x.projectid}}</td>
        <td class="adit2">{{x.emp_id}}</td>
        <td>{{x.bill_date}}</td>
        <td> {{x.task_type}}</td>
        <td> {{x.billed_hours}}</td>
        <td> {{x.approved_by_emp_id}}</td>
        <td> {{x.task_description}}</td>
        <td>{{x.isapproved}}</td>
   <td><i class="fa fa-pencil-square" aria-hidden="true" rel="popover" title="Edit" data-content="content"></i>
                &nbsp;
                <i class="fa fa-minus-square" aria-hidden="true" rel="popover" title="Delete" data-content="content"></i>
                  </td>
      </tr>
    </tbody>
  </table>
</div>